/*
@media(max-width:640px){

  .gallery-grid img{
    width:48%;height:100px
  } 

  nav button{
        display: inline-block;
        font-size: 1.5rem;
        background: transparent;
        color: var(--text);
        cursor: pointer;
        border: none;
    }

    nav button#close__nav-btn{
        display: none;
    }

    .nav{
      
    position: sticky;
    top: 0;
    z-index: 1000;
    }

    .nav__items{
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0;
        width: 12rem;
        align-items: flex-start;
        justify-content: center;
        gap: 0;
        display: none;
    }

    .nav__items li{
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items:center ;
        box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
        background: var(--card);
        border-top: 1px solid var(--bg);
        animation: animateDropdown 1s 0s ease forwards;
        opacity: 0;
        transform-origin: top;
    }

    .nav__items li a{
        border-radius: 0;
        width: 100%;
        height: 100%;
        background: var(--color-grey-900);
        padding:0 2rem;
        display: flex;
        align-items: center;
    }

    @keyframes animateDropdown {
        0%{
            transform: rotateX(90deg);
        }
        100%{
            transform: rotateX(0deg);
            opacity: 1;
        }

    }

  }*/